name: ansible
on:
  workflow_dispatch:
    inputs:
      git-ref:
        description: Git Ref (Optional)    
        required: false
  schedule:
    - cron: '0 1 * * *'
  push:
    paths-ignore:
    - 'docs/**'
    - '**.md'
    branches: 
      - main
  pull_request:
    paths-ignore:
    - 'docs/**'
    - '**.md'
    branches: 
      - main
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Login Quay.io
      uses: docker/login-action@v1
      with:
        logout: true
        registry: quay.io
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWD }}
    - name: Rake Variables
      run: |
        set -x ; \
        echo "varrundate=$(date +%y%m%d%I%M%S)" >> ${GITHUB_ENV};\
        echo;
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Git Checkout
      uses: actions/checkout@v2
    - name: Build Image 
      uses: docker/build-push-action@v2
      with:
        context: .
        file: Dockerfile
        platforms: linux/amd64
        push: true
        tags: |
          docker.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}
          docker.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:ubi
          docker.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:latest
          docker.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:main-${{ env.varrundate }}-${{ github.sha }}
        build-args: |
          varRunDate=${{ env.varrundate }}
